.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 250, 245) !important;
    padding: 20px;
    border-radius: 10px;
    margin-top: 25px;
    width: 75% !important;
}

.end-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(245, 250, 245) !important;
    padding: 20px;
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 75% !important;
}

body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.highlight {
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.highlight-low-rank {
    color: #AFE9B8;
    font-weight: bolder;
}

.highlight-high-rank {
    color: #0b6f18;
    font-weight: bolder;
}

.highlight-region {
    color: #d62728;
    font-weight: bolder;
}

.highlight-percentage {
    color: #69b3a2;
    font-weight: bolder;
}

.highlight-UK {
    color: #c99a25;
    font-weight: bolder;
}

#title {
    font-family: "Georgia", serif;
    font-size: 40px;
    font-weight: bolder;
    color: #3e3438;
    text-align: center;
}

#title1 {
    font-weight: bold;
    text-align: center;
    font-family: "Georgia", serif;
    font-size: 30px;
    color: #3e3438;
    margin-bottom: 20px;
    margin-top: 20px;
}

#filter {
    margin-top: 15px;
    margin-left: 170px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

#filter2 {
    margin-top: 15px;
    margin-left: 263px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

p {
    font-family: "Gluten", cursive;
    font-size: 18px;
    font-weight: 500;
    color: rgb(75, 75, 75);
    text-align: left;
    margin-left: 70px;
    margin-right: 70px;
    line-height: 1.5;
}

.p1 {
    font-family: "Gluten", cursive;
    font-size: 18px;
    font-weight: 500;
    color: rgb(75, 75, 75);
    text-align: left;
    margin-left: 45px;
    margin-right: 45px;
    line-height: 1.5;
}

.description-right {
    font-family: "Gluten", cursive;
    font-size: 18px;
    font-weight: 500;
    color: rgb(75, 75, 75);
    text-align: left;
    margin-left: 45px;
    margin-right: 35px;
    line-height: 1.5;
}

.description-left {
    font-family: "Gluten", cursive;
    font-size: 18px;
    font-weight: 500;
    color: rgb(75, 75, 75);
    text-align: left;
    margin-left: 45px;
    margin-right: 40px;
    line-height: 1.5;
}

.reference {
    font-family: "Gluten", cursive;
    font-size: 18px;
    font-weight: 500;
    color: rgb(75, 75, 75);
    text-align: left;
    margin-left: 70px;
    margin-right: 70px;
}

hr {
    border: 2px solid black;
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}



#symbol_map {
    width: 100%;
    margin-left: 170px;
}

#top5 {
    width: 100%;
    margin-left: 5px;
}

#bot5 {
    width: 100%;
    margin-right: 20px;
}

#pie {
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
}

#histo {
    width: 100%;
    margin-left: 40px;
    margin-top: 20px;
}

#scatter {
    width: 100%;
    margin-left: 120px;
    margin-top: 20px;
}

#pyramid {
    width: 100%;
    margin-left: 235px;
    margin-top: 20px;
}

#spaceline {
    height: 20px;
    width: 100%;
    background-color: transparent;
    border: none;
}

.pure-g {
    margin-bottom: 40px;
}